@page "/manage"

<h1>Our Products</h1>

@if(Items != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Unit Price</th>
                <th>Current Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <input type="number" style="border: 0" @bind="item.Price"/>
                    </td>
                    <td>
                        <input type="number" style="border: 0" @bind="item.Stock"/>
                    </td>
                    <td>
                        <button class="btn btn-link" @onclick="() => UpdateProduct(item)">Update</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
